button {
  background-color: hsl(180, 50%, 50%);
  border: 0;
  color: white;
  font-size: 1rem;
  padding: 0.3em 1em;
  transition-property: all;
  transition-duration: 0.5s;
}
/* 
transition-property: all - указывает на то что для изменения всех свойств на 
кнопке будет применен переход в течение 500мсек (transition-duration: 0.5s)
transition-property может принимать несколько значений через запятую: 
  color, font-size
Существует также сокращение для свойства transition:
  transition: background-color 0.3s linear 0.5s
  transition: <свойство> <длительность> <временнАя функция> <задержка>
  <длительность> не может равняться 0
Также в transition может быть указано несколько наборов параметров для разных
  свойств. Указываются они через запятую.
  transition: <свойство 1> <длительность 1> <временнАя функция 1>,
              <свойство 2> <длительность 2> <временнАя функция 2>
Можно указывать отдельные свойства:
  transition-property: background-color, border-radius;
  transition-duration: 0.5s, 0.3s;
  transition-timing-function: linear, ease
 */
button:hover {
  background-color: hsl(0, 50%, 50%);
  border-radius: 1em;
}

.container {
  position: relative;
  height: 184px;
}
.box {
  position: absolute;
  left: 0;
  height: 30px;
  width: 60px;
  background-color: hsl(130, 50%, 50%);
}
.box.v1 {
  transition: all 1s linear;
  top: 0;
}
.box.v2 {
  transition: all 1s ease-in;
  top: 46px;
}
.box.v3 {
  transition: all 1s ease-out;
  top: 92px;
}
.box.v4 {
  transition: all 1s steps(3, end);
  top: 138px;
}
.container:hover .box {
  left: 400px;
}
/* 
Визуализация timing-functions: https://cubic-bezier.com/
Также можно посмотреть временнЫе функции в DevTools Chrome
*/

body {
  font-family: Arial, Helvetica, sans-serif;
}

.dropdown__toggle {
  display: block;
  padding: 0.5em 1em;
  border: 1px solid hsl(280, 10%, 80%);
  color: hsl(280, 30%, 60%);
  background-color: #fff;
  font: inherit;
  text-decoration: none;
  transition: background-color 0.2s linear;
}

.dropdown__toggle:hover {
  background-color: hsl(280, 15%, 95%);
}

.dropdown__drawer {
  position: absolute;
  display: none;
  background-color: #fff;
  width: 10em;
}

.dropdown.is-open .dropdown__drawer {
  display: block;
}

.menu {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

.menu > li + li > a {
  border-top: 0;
}

.menu > li > a {
  display: block;
  padding: 0.5em 1em;
  color: hsl(280, 40%, 60%);
  background-color: #fff;
  text-decoration: none;
  transition: all 0.2s linear;
  border: 1px solid hsl(280, 10%, 80%);
}

.menu > li > a:hover {
  background-color: hsl(280, 15%, 80%);
  color: hsl(280, 25%, 10%);
}

.dropdown__drawer {
  position: absolute;
  background-color: white;
  width: 10em;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.2s linear visibility 0s linear 0.2s;
}
.dropdown.is-open .dropdown__drawer {
  opacity: 1;
  visibility: visible;
  transition-delay: 0s;
}
