/* 
Базовые селекторы
  - имя тэга: p, div, span; специфичность: 0, 0, 1
  - .class-name; специфичность: 0, 1, 0
  - #id-name; специфичность: 1, 0, 0
  - * - универсальный селектор; специфичность: 0, 0, 0

Комбинации селекторов
  - > - дочерний комбинатор: .parent > .child
  - + - селекторы для смежных сестринских элементов: p + h2
  - ~ - селектор для всех дочерних элементов следующих за указанным элементом li.active ~ li

Составные селекторы: .dropdown.is-active - указывает на элемент <div class="dropdown is-active">, но не на <div class="dropdown">

Селекторы псевдоклассов (специфичность для всех 0, 1, 0)
  - :first-child - указывает на первый дочерний элемент группы (или одного элемента) внутри родительского элемента
  - :last-child - то же что и :first-child, только указывает на последний элемент
  - :only-child - указывает на элемент являющийся единственным потомком родителя
  - :nth-child(an+b) - указывает на каждый n-ный элемент в группе дочерних элементов. Например: 
  :nth-child(n) выберет элементы 0, 1, 2, 3, 4
  :nth-child(2n) выберет элементы 0, 2, 4, 6  (каждый второй элемент)
  :nth-child(3n) выберет элементы 0, 3, 6, 9 (каждый третий элемент)
  :nth-child(3n + 2) выберет элементы 2, 5, 8, 11
  :nth-child(n + 4) выберет элементы начиная с 4-го 4, 5, 6, 7
  :nth-child(-n + 4) выберет первые 5 элементов 4, 3, 2, 1, 0
  - :nth-last-child(an+b) - аналогичен :nth-child(an+b), но считает с конца
  - :first-of-type - указывает на первый элемент по имени тега
  - :last-of-type - указывает на последний элемент указанного типа
  - :only-of-type - указывает на элементы потомками которых являются элементы указанного типа
  - :nth-of-type(an+b) - указывает на элементы указанного типа и вычисленных по переданной формуле
  - :nth-last-of-type(an+b) - похож на :nth-last-child но указывает на элементы определенного типа
  - :not(<selector>) - исключает элементы подпадающие под селектор. Селектор должен быть простым, не может исключать предка ми не может содержать другой not селектор
  - :empty - указывает на элементы без потомков (не указывает на тектовые ноды типа пробела)
  - :focus - указывает на элементы в фокусе
  - :hover - указывает на элементы надо которыми находится курсор
  - :root - указывает на корневой элемент документа

Селекторы форм
  - :disabled - указывает на заблокированные элементы такие как input, button, selects
  - :enabled - указывает на незаблокированные элементы
  - :checked - указывает на выбранные чекбоксы, радиобаттоны и селекты
  - :invalid - указывает на элементы с некорректными значениями, например <input type="email"> с некоррктным значением email
  - :valid - указывает на элементы с корректными значениями
  - :required - указывает на элементы с установленным required атрибутом
  - :optionl - указывает на элементы с неустановленным атрибутом required

Селекторы по псевдоэлементам (специфичность 0, 0, 1)
  - ::before - создает псевдоэлемент, который становится первым потомком. Является инлайн элементом. Может быть использован для вставки текста, картинки и других форм. Сам по себе не видим.
  - ::after - отличается от ::before тем, что становится последним потомком
  - ::first-letter - селектор указывает на первую букву текста
  - ::first-line - селектор указывает на первую строку текста
  - ::selection - указывает на любые элементы выделенные курсором пользователя

Селекторы по атрибутам (специфичность 0, 1, 0)
  - [attr] - указывает на элементы котрыый имеет указанный атрибут внезависимости от его значения, пример: <input disabled>, селектор - input[disabled]
  - [attr="value"] - указывает на элемент с заданным значением атрибута: input[type="radio"]
  - [attr^="value"] - указывает на элементы значение атрибутов которых начинается с переданного значения: a[href^="http"]
  - [attr$="value"] - указывает на элементы значение атрибутов которых заканчивается переданным значением: a[href$=".pdf"]
  - [attr*="value"] - указывает на элементы значение атрибутов которых содержит переданное значение: [class*="-sprite"]
  - [attr~="value"] - указывает на элементы содержащье списки атрибутов раздеоенные пробелами и одно из значений атрибтов содержит переданное значение: a[rel~="author"]
  - [attr|="value"] - указывает на элементы атрибуты которых либо полностью соответствуют переданному значению, либо за сопоставимым значениематрибута должен следовать дефис: [lang|="rs"] сопоставим со значением es-MX

  Регистронезависимость селекторов
    - чтобы сделать селектор регистронезависимым нужно установить значение i вконце: input[value="search"i]
    - поддержка браузерами не полная. В случае отсутствия поддержки значение будет проигнорировано
*/
