.grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: .5em;
}

.grid > * {
    background-color: darkgray;
    color: white;
    padding: 2em;
    border-radius: .5em;
}

/* 
display: grid; - ведет себя как блочный элемент, занимает 100% ширины
display: inline-grid; - grid-layout со строчным поведением, будет занимать ширину согласно контента
grid-template-columns - указывает количество колонок в шаблоне
grid-template-rows - указывает количество строк в шаблоне
fr - fraction unit - единица измерения наиболее подходящая для grid-layout, указывает какую часть свободного места будет занимать ячейка
grid-gap - указывает промежуток между ячейками
Понятия:
    * grid line - создает структуру сетки. Может быть вертикальной или горизонтальной. grid-gap лежит поверх grid line
    * grid track - это пространство между двумя смежными grid line. Сеткаимеет горизонтальные трэки (строки) и вертикальные трэки (колонки)
    * grid cell - единичное пространство в сетке, где пересекаются горизонтальный и вертикальный трэки
    * grid area - прямоугольное пространство, состоящее из одной или более ячеек сетки
*/

:root {
    box-sizing: border-box;
}

*, ::before, ::after {
    box-sizing: inherit;
}

body {
    background-color: #709d90;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: repeat(4, auto);
    max-width: 1080px;
    margin: 0 auto;
}

header, nav {
    grid-column: 1 / 3;
    grid-row: span 1;
}

.main {
    grid-column: 1 / 2;
    grid-row: 3 / 5;
}

.sidebar-top {
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

.sidebar-bottom {
    grid-column: 2 / 3;
    grid-row: 4 / 5;
}

.tile {
    padding: 1.5em;
    background-color: #fff;
}

.tile > :first-child {
    margin-top: 0;
}

.tile * + * {
    margin-top: 1.5em
}