// Импорт файлов стилей
@import 'button';

// Объявление переменных
$brand-blue: #0086b3;

$left-padding: 3em;

a:link {
  color: $brand-blue;
}

.page-heading {
  font-size: 1.6rem;
  color: $brand-blue;
}

.note-author {
  padding-left: $left-padding;
  font-weight: bold;
}

// Для вычислений значений доступны операторы + - * /
.note-body {
  padding-left: $left-padding * 2;
}

// вложенные селекторы
html {
  font-size: 1rem;

  @media (min-width: 45rem) {
    font-size: 1.25rem;
  }
}

.site-nav {
  display: flex;

  > li {
    margin-top: 0;

    &.is-active {
      display: block;
    }
  }
}

// Mixines
@mixin clearfix {
  &::before {
    display: table;
    content: '';
  }

  &::after {
    clear: both;
  }
}

.media {
  @include clearfix;
  background-color: #eeeeee;
}

@mixin alert-variant($color, $bg-color) {
  padding: 0.3em 0.5em;
  border: 1px solid $color;
  color: $color;
  background-color: $bg-color;
}

.alert-info {
  @include alert-variant(blue, lightblue);
}

.alert-danger {
  @include alert-variant(red, pink);
}

// Extend. В отличии от mixine не копирует правила, а группирует селекторы
// вместе, при использовании одинакового набора правил

.message {
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}

.message-info {
  @extend .message;
  color: blue;
  background-color: lightblue;
}

.message-danger {
  @extend .message;
  color: red;
  background-color: pink;
}

// Управление цветом
// Функции: darken, lighten, saturate, desaturate, adjust-hue, rgba
// darken, lighten, saturate, desaturate - принимают два входных значения
//  цвет и значение на которое нужно произвести изменение в процентах
// adjust-hue - в качестве первого параметра принимает значение цвета,
//  второй параметр - угол поворота на цветовом диске
// rgba - принимает два значения: 1-е цвет, 2-е прозрачность (от 0 до 1)
