/* 
Свойства background

background-image - устанавливает в качестве фона картинку из файла или градиент
background-position - устанавливает начальную позицию фона
background-size - устанвливает размер фоноваого изображения в элементе
background-repeat - определяет нужно ли повторить конец изображения для
  заполнения всего элемента
background-origin - определяет позиционирование элемента относительно
  свойств элемента border-box, padding-box (initial-value) или content-box
background-clip - Указывает, должен ли фон заполнять поверхность элемента
  в зависимости от свойства border-box, padding-box (initial-value) или 
  content-box
background-attachment - определяет должен ли фон скорллиться вместе с
  экраном или же должен оставаться неподвижным (значение свойства fixed)
background-color - указывает цвет фона. Он отрисовывается позади изображения
*/

/* 
1
Градиент 
Градиент определяется свойством background-image и значением linear-gradient
linear-gradient принимает три параметра: угол, начальный цвет и конечный цвет
Угол также можно указать в:
rad - радианах. Один полный круг - 2 пи или 6.2832 радиана
turn - обороты вокруг. Один оборот равен 360 градусам. Для примера 90 градусов
  - это 0.25turn
grad - градианы.  Один полный круг - 400град, 90 градусов - 100град
*/
.fade {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to right, white, blue);
}

/* 
2
Используется переход между тремя цветами. Распределение цветов - равномерное
Направление - по горизонтали
*/
.fade-color-stop {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(90deg, red, white, blue);
}

/* 
3
Распределение цветов задается процентами
*/
.fade-color-stop-percentage {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(
    90deg,
    red 0%,
    white 50%,
    blue 100%
  );
}

/* 
4
Создание полос с помощью градиента
*/
.fade-color-stripes {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(
    90deg,
    red 40%,
    white 40%,
    white 60%,
    blue 60%
  );
}

/* 
5
Повторяющийся линейный градиент
Функция repeating-linear-gradient(), лучше использовать определенные величины
чем проценты
*/
.fade-repeat {
  height: 1em;
  width: 400px;
  background-image: repeating-linear-gradient(
    -45deg,
    #57b,
    #57b 10px,
    #148 10px,
    #148 20px
  );
  border-radius: 0.3em;
}

/* 
6
Круговой градиент (эллипс)
Функция radial-gradient
*/
.fade-radial {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(white, blue);
}

/* 
7
Круговой градиент (круг)
Функция radial-gradient, аргумент circle
*/
.fade-radial-circle {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(circle, white, blue);
}

/* 
8
Круговой градиент (круг), позиционирован и ограничен в размере
Функция radial-gradient, размер 25em, расположен на 25% слева и справа
от левого верхнего угла
 */
.fade-radial-positioned-sized {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(
    3em at 25% 25%,
    white,
    midnightblue
  );
}

/* 
9
Круговой градиент (круг), с явно указанной границей цвета
Функция radial-gradient
*/
.fade-radial-color-stop {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(
    circle,
    midnightblue 0%,
    white 75%,
    red 100%
  );
}

/* 
10
Круговой повторяющийся градиент (круг)
Функция repeating-radial-gradient
*/
.fade-radial-repeat {
  height: 200px;
  width: 400px;
  background-image: repeating-radial-gradient(
    circle,
    midnightblue 0,
    midnightblue 1em,
    white 1em,
    white 2em
  );
}

/* 
Shadows - тени
Бывают на элементах и на тексте. Свойства: box-shadows и text-shadows
Пример свойства: box-shadow: 2px 2px 2px 1px black - здесь первые два
  значения - смещение по горизонтали и вериткали, 3-е значение - радиус
  размытия краев, 4-е значение - размер тени (положительное значение
  делает тень больше, отрицательное - меньше) и последнее значение - 
  цвет
Также доступен параметр inset. Данный параметр означает, что тень будет
  распространяться внутрь элемента. Задается первым в списке параметров
Свойство box-shadow может принимать несколько наборов параметров теней
  записанных через запятую
Свойство text-shadow принимает значения смещения по горизонтали и вертикали
  радиуса размытия границы и цвета.
*/
.button {
  padding: 1em;
  border: 0;
  font-size: 0.8rem;
  color: white;
  border-radius: 0.5em;
  background-image: linear-gradient(to bottom, #57b, #148);
  box-shadow: 0.1em 0.1em 0.5em #124;
}

.button:active {
  box-shadow: inset 0 0 0.5em #124, inset 0 0.5em 1em rgba(0, 0, 0, 0.4);
}

.button-flat {
  padding: 0.8em;
  border: 0;
  font-size: 1rem;
  color: white;
  background-color: #57b;
  box-shadow: 0 0.2em 0.2em rgba(0, 0, 0, 0.15);
}

.button-flat:hover {
  background-color: #456ab6;
}

.button-flat:active {
  background-color: #148;
}

.button-cube {
  padding: 0.8em;
  border: 0;
  font-size: 1rem;
  color: white;
  border-radius: 0.5em;
  background-color: #57b;
  box-shadow: 0 0.4em #148;
  text-shadow: 1px 1px #148;
}

.button-cube:active {
  background-color: #456ab6;
  transform: translateY(0.1em);
  box-shadow: 0 0.3em #148;
}

/* 
Blend - смешивание
Для смешивания можно использовать свойство background-image: url1, url2
В качестве параметра может быть также и градиент
Режимы смешивания
Затемнение
  multiply - Чем светлее передний цвет, тем сильнее будет виден цвет основы
  darken - выбирает наиболее темный из двух цветов
  color-burn - затемняет цвет основы, повышая контраст
Осветление
  screen - Чем темнее передний цвет, тем силнее будет виден цвет основы
  lighten - Выбирается более яркий из цветов
  color-dodge - осветляет цвет основы, уменьшая контраст
Контраст
  overlay - увеличивает контраст применением multiply к темным тонам и 
  screen к ярким, на половину
  hard-light - сильно увеличивает контраст. Как overlay, но в полную силу
  soft-light - работает как hard-light, но использует burn/dodge вместо
  multiply/screen
Составные значения
  hue - применяет оттенок верхнего цвета к нижнему
  saturation - применяет насыщенность верхнего цвета к нижнему
  luminosity - применяет яркость верхнего цвета к нижнему
  color - применяет оттенок и насыщенность верхнего цвета к нижнему
*/
.blend {
  min-height: 400px;
  min-width: 800px;
  background-image: url(../assets/img/bear.jpg),
    url(../assets/img/bear.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: -10vw, 10vw;
  background-blend-mode: multiply;
}

.blend-tint {
  min-height: 400px;
  min-width: 800px;
  background-image: url(../assets/img/bear.jpg);
  background-color: #148;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-blend-mode: luminosity;
}

.blend-texture {
  min-height: 400px;
  min-width: 800px;
  background-image: url(../assets/img/stripes.png),
    url(../assets/img/bear.jpg);
  background-size: 40px, cover;
  background-repeat: repeat, no-repeat;
  background-position: center center;
  background-blend-mode: soft-light;
}
.blend-mix {
  height: 400px;
  width: 800px;
  background-image: url(../assets/img/bear.jpg);
  background-size: cover;
  background-position: center;
  padding: 5em 0em 10em;
}

.blend-mix > h1 {
  margin: 180px 0 0 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 6rem;
  text-align: center;
  mix-blend-mode: hard-light;
  background-color: #cc3333;
  color: #808080;
  border: 0.1em solid #ccc;
  border-width: 0.1em 0;
}
