/* 
Свойства background

background-image - устанавливает в качестве фона картинку из файла или градиент
background-position - устанавливает начальную позицию фона
background-size - устанвливает размер фоноваого изображения в элементе
background-repeat - определяет нужно ли повторить конец изображения для
  заполнения всего элемента
background-origin - определяет позиционирование элемента относительно
  свойств элемента border-box, padding-box (initial-value) или content-box
background-clip - Указывает, должен ли фон заполнять поверхность элемента
  в зависимости от свойства border-box, padding-box (initial-value) или 
  content-box
background-attachment - определяет должен ли фон скорллиться вместе с
  экраном или же должен оставаться неподвижным (значение свойства fixed)
background-color - указывает цвет фона. Он отрисовывается позади изображения
*/

/* 
Градиент 
Градиент определяется свойством background-image и значением linear-gradient
linear-gradient принимает три параметра: угол, начальный цвет и конечный цвет
Угол также можно указать в:
rad - радианах. Один полный круг - 2 пи или 6.2832 радиана
turn - обороты вокруг. Один оборот равен 360 градусам. Для примера 90 градусов
  - это 0.25turn
grad - градианы.  Один полный круг - 400град, 90 градусов - 100град
*/
.fade {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(to right, white, blue);
}

/* 
Используется переход между тремя цветами. Распределение цветов - равномерное
Направление - по горизонтали
*/
.fade-color-stop {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(90deg, red, white, blue);
}

/* 
Распределение цветов задается процентами
*/
.fade-color-stop-percentage {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(
    90deg,
    red 0%,
    white 50%,
    blue 100%
  );
}

/* 
Создание полос с помощью градиента
*/
.fade-color-stripes {
  height: 200px;
  width: 400px;
  background-image: linear-gradient(
    90deg,
    red 40%,
    white 40%,
    white 60%,
    blue 60%
  );
}

/* 
Повторяющийся линейный градиент
Функция repeating-linear-gradient(), лучше использовать определенные величины
чем проценты
*/
.fade-repeat {
  height: 1em;
  width: 400px;
  background-image: repeating-linear-gradient(
    -45deg,
    #57b,
    #57b 10px,
    #148 10px,
    #148 20px
  );
  border-radius: 0.3em;
}

/* 
Круговой градиент (эллипс)
Функция radial-gradient
*/
.fade-radial {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(white, blue);
}

/* 
Круговой градиент (круг)
Функция radial-gradient, аргумент circle
*/
.fade-radial-circle {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(circle, white, blue);
}

/* 
Круговой градиент (круг), позиционирован и ограничен в размере
Функция radial-gradient, размер 25em, расположен на 25% слева и справа
от левого верхнего угла
 */
.fade-radial-positioned-sized {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(
    3em at 25% 25%,
    white,
    midnightblue
  );
}

/* 
Круговой градиент (круг), с явно указанной границей цвета
Функция radial-gradient
*/
.fade-radial-color-stop {
  height: 200px;
  width: 400px;
  background-image: radial-gradient(
    circle,
    midnightblue 0%,
    white 75%,
    red 100%
  );
}

/* 
Круговой повторяющийся градиент (круг)
Функция repeating-radial-gradient
*/
.fade-radial-repeat {
  height: 200px;
  width: 400px;
  background-image: repeating-radial-gradient(
    circle,
    midnightblue 0,
    midnightblue 1em,
    white 1em,
    white 2em
  );
}
