/* 
Виды позиционирования
Fixed - позиционирует элемент строго внутри видимой части браузера (вьюпорта). 
    Расположение элемента определяется 4-мя свойствами: top, right, bottom, left. 
    Например: top: 3em; отодвинет элемент на 3em от верхней границы ВП
    В некоторых случаях через ВП можно указать размеры элемента, например 
    left: 2em; right: 2em; означает, что элемент будет на 4em меньше ВП

Absolute - работает также как и Fixed, но имеет другой containing block(КБ). 
    Элемент с данным видом позиционирования располагается относительно ближайшего позиционированного предка. Свойства top, right, bottom, left указывают как должен располагаться данный элемент внутри своего КБ.
    В случае если ни один из родительских элементов не позиционирован, элемент будет позиционироваться он initial containing block который равен размеру ВП и располагается наверху страницы

Relative - не изменяет позицию элемента само по себе. 
    Элемент не остается в потоке документа, но место которое он занимал остается, благодаря чему окрузающие его элементы также остаются на своих местах.
    Элемент может быть сдвинут с места с использованием свойств top, right, bottom, left. Управлять размером элемента с помощью свойств top, bottom или left, right нельзя. При одновременном применении этих пар свойств одно из них будет проигнарировано. Например: top и bottom - bottom игнорируется, left и right - right игнорируется
*/

body {
    font-family: Helvetica, Arial, sans-serif;
    height: 200vh;
    margin: 0;
}

button {
    padding: 0.5em 0.7em;
    border: 1 solid #8d8d8d;
    background-color: white;
    font-size: 1em;
}

.top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

.top-banner-inner {
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
}

.modal {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: white;
    overflow: auto;
}

.modal-close {
    cursor: pointer;
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    padding: 0.3em;
    cursor: pointer;
    font-size: 2em;
    height: 1em;
    width: 1em;
    text-indent: 10em;
    overflow: hidden;
    border: 0;
}

.modal-close::after {
    position: absolute;
    line-height: 0.5;
    top: 0.2em;
    right: 0.1em;
    text-indent: 0;
    content: "\00D7";
}