/* 
Виды позиционирования
Fixed - позиционирует элемент строго внутри видимой части браузера (вьюпорта). 
    Расположение элемента определяется 4-мя свойствами: top, right, bottom, left. 
    Например: top: 3em; отодвинет элемент на 3em от верхней границы ВП
    В некоторых случаях через ВП можно указать размеры элемента, например 
    left: 2em; right: 2em; означает, что элемент будет на 4em меньше ВП
Absolute - данный вид позичионирования работает так же как и fixed за 
    исключением способа позиционирования. Позиционирование базируется на 
    ближайшем позиционированном родительском элементе.
*/

body {
    font-family: Helvetica, Arial, sans-serif;
    height: 200vh;
    margin: 0;
}

button {
    padding: 0.5em 0.7em;
    border: 1 solid #8d8d8d;
    background-color: white;
    font-size: 1em;
}

.top-banner {
    padding: 1em 0;
    background-color: #ffd698;
}

.top-banner-inner {
    width: 80%;
    min-width: 1000px;
    margin: 0 auto;
}

.modal {
    display: none;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-body {
    position: fixed;
    top: 3em;
    bottom: 3em;
    right: 20%;
    left: 20%;
    padding: 2em 3em;
    background-color: white;
    overflow: auto;
}

.modal-close {
    cursor: pointer;
}