.media {
  padding: 1.5em;
  background-color: #eeeeee;
  border-radius: 0.5em;
}

.media::after {
  content: '';
  display: block;
  clear: both;
}

.media__image {
  float: left;
  margin-right: 1.5em;
  max-width: 100px;
  max-height: 100px;
  background-color: #999;
}

.media--right > .media__image {
  float: right;
}

.media__body {
  overflow: auto;
  margin-top: 0;
}

.media__body > h4 {
  margin-top: 0;
}
